@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

.hero{
  background-image: url("images/lb.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  height: 100%;
  /* background-position-y: 0%; */
}

.logo2{
  display: none;
}



@media screen and (max-width:900px) {
  .hero{
    background-size: 140%;
  } 

  .menu button{
    width: 50%;
  }
}

@media screen and (max-width:750px) {
  .hero{
    background-size: 180%;
  } 
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
 padding-bottom: 200px;
}

body{
  background-color: rgb(234, 234, 234);
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.menu{
  padding: 5%;
  background: none;
  /* height: 80vh; */
  /* height: ; */
}

.menu h1{
  color: #a9aa9a;
  font-family: Outfit;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 1%;
  font-size: 250%;
  animation: slideInLeft 1s ease-in-out;
}

.menu p{
  font-family: Outfit;
  width: 90%;
  font-size: 120%;
  color: grey;
  animation: slideInLeft 1.5s ease-in-out;
}

.menu button{
  margin-top: 40px;
  width: 20%;
  background-color: #05D486;
  padding: 10px;
  border: none;
  border-radius: 7px;
  animation: slideInLeft 2.5s ease-in-out;
}

.menu button a{
  font-size: 150%;
  color: white;
  text-decoration: none;
}



.p2{
  width: 90%;
  margin-bottom: 10px;
  font-size: 100%;
  font-family: Outfit;
  font-style: italic;
  animation: slideInLeft 2s ease-in-out;
  color: rgb(186, 184, 184);
}

@keyframes slideDown {
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideInLeft {
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInRight {
  0%{
    opacity: 0;
    transform: translateX(100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}

nav{
  padding: 10px 5px 30px 20px;
  display: flex;
  gap:200px;
  background: none;
}

nav ul{
  list-style-type: none;
}

nav ul li a{
  color: white;
  list-style-type: none;
  margin-top: 40px;
  font-size: 20px;
  font-family: Poppins;
  cursor: pointer;
  text-decoration: none;
}

.drop{
  animation: slideDown 2s ease-in-out;
}

.drop{
  background-color: black;
  padding: 10px 5px 30px 20px;
  display: flex;
  gap:200px;
}

.bar{
  cursor: pointer;
  margin-top: 30px;
}

.log{
  display: grid;
}

.log p{
  color:#8fd4ba;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.log small{
  color: #F85D87;
  text-align: center;
  font-family: Arvo;
  font-size: 10px;
  font-weight: 300;
}


.log img{
  width: 200px;
  margin-left: 20px;
  height:200px;
  margin-right: -120px;
  margin-bottom: -20px;
}

.log2 img{
   width: 100px;
   margin-top: 5px;
   height: 100px;
}

nav ul{
  margin-top: 40px;
  display: flex;
  gap:40px;
  /* margin-left: -20px; */
  /* margin-right: 40px; */
}

.drop ul{
  display: flex;
  gap:40px;
  margin-top: 40px;
}

.drop{
  padding-bottom: 30px;
}

.drop ul{
  gap: 60%;
  justify-content: space-around;
}

.drop ul li a{
  list-style-type: none;
  margin-top: 40px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color:rgb(192, 192, 192) ;
}


.locate{
  margin-top: 35px;
  font-size: 35px ;
  cursor: pointer;
  text-decoration: none;
  color:#05D486;
}

.hidden{
  display: none;
}

.overview{
  padding: 40px 10px 100px 10px;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(234, 234, 234);
  /* background-color: #05D486; */
}

.overview img{
  width: 650px;
  height: 400px;
}

.text{
  width: 40%;
}


.drop{
  display: none;

}

.text h1{
  color:#05D486;
  margin-top: 100px;
  font-family: Outfit, 'Gadugi';
}

.text p{
  font-family: poppins;
  line-height: 1.8;
}

#vision-mission{
  background-color: rgb(234, 234, 234);
  padding-left:1% ;
  padding-right: 1%;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-around;
}

#vision-mission img{
  height: 90vh;
}

.v-text{
  width: 50%;
  margin-left: 10px;
  display: grid;
}

.v-text h3{
  font-size: 25px;
  font-family: Outfit;
  color:#05D486 ;
}

.v-text p{
  font-family: Poppins;
  line-height: 1.8;
}

#core-values{
  padding-left:2% ;
  padding-right: 2%;
}

.values1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.values2{
  display: grid;
  grid-template-columns: 1fr 1fr ; 
}


#core-values h1{
  color: #05D486 ;
  text-align: center;
  font-family: Outfit;
  margin-bottom: 15px;
}


.value{
  background-color: #05D486 ;
  border-radius: 6px;
  padding: 7px;
  margin:15px;
}

.value h2{
  color:white;
  font-family: Montserrat;
  margin-bottom: 10px;
  
}

.value p{
  color: rgb(105, 105, 105);
}

#approach{
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 80px;
}

#approach h1{
  margin-top: 60px;
  margin-bottom: 20px;
  color: #05D486;
  font-family: Outfit;
}

#approach p{
  font-family: poppins;
  line-height: 1.8;
}

#approach p b{
  font-size: 18px;
}

footer{
  background-color: black;
  padding: 30px 15px 20px 15px ;
  color: rgb(192, 192, 192);
}

footer img{
  width: 120px;
  height: 120px;
}

footer h1{
  color: #05D486;
  font-family: Outfit;
}

footer div{
  margin: 10px;
  line-height: 1.8;
  font-family: Poppins;
}

footer div i{
  color: #05D486;
  font-size: 20px;
  margin-right: 10px;
}

section{
  cursor:pointer;
}

.name img{
  width: 300px;
  height: 300px;
}

section a{
  text-decoration: none;
  color:rgb(192, 192, 192);
}

.A{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
}

.B{
  text-align: center;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:20px;
}

.contact-left-title h2{
  font-weight: 600;
  color:#a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr{
  border: none;
  width:120px;
  height:5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom:20px ;
}

.contact-inputs{
  width:400px;
  height:50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  border-radius: 50px;
}

.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus{
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder{
  color:#a9aa9a;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color:white;
  gap:10px;
  border-radius: 50px;
  border:none;
  background: linear-gradient(270deg,#ff994f,#fa6d86);
  cursor: pointer;
}

.contact-left button img{
  height: 15px;
}

.contact-right img{
 width:500px;
}

@media (max-width:800px) {
  .contact-inputs{
    width:80vw;
  }

  .contact-right{
    display: none;
  }
}


@media screen and (width:1000px) {
  .overview{
    display: grid;
    padding: 0 0 0 0;
    width: 100%;
    margin: 0;
  }

   .text{
    display: none;
   }

   .overview img{
    width:1000px;
    height: 500px;
   }
}

.bar{
  display: none;
}

.hidden{
 display: block;
}

.contents{
  display: grid;
}

.content img{
  width: 50%;
  height: 90%;
}

.person{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.icon{
  width: 40%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: black;
  color: #05D486;
  text-align: center;
  font-family:Nunito sans;
  cursor: pointer;
  border:none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.icon:hover{
  color: black;
  background-color: #05D486;
  transition: 0.85s;
}

.icon:active{
  color: black;
  background-color: #05D486;
  transition: 0.85s;
}

.about-body{
  display: grid;
  width: 100%;
}

.contents{
  width: 100%;
}


#content-text-name{
  color: #05D486;
  font-size: 25px;
}

#content-text-degree{
  color:grey;
  font-size: 15px;
}

.anim{
  animation: slideInLeft 1s ease-in-out;
}

.anim2{
  animation: slideInRight 1s ease-in-out;
}

@media screen and (min-width:1001px) {
  .bar{
    display: none;
  }
}

@media screen and (max-width:1000px) {
  .overview{
    display: block;
    padding: 0 0 0 0;
    width: 100%;
    margin: 0;
  }

  .euphoria{
    display: none;
  }

  .bar{
     display: block;
     color: #05D486;
     margin-top: 20px;
     font-size: 40px;
     margin-left: 45% ;
  }

  .logo1{
    display: none;
  }

  .logo2{
    display: block;
    width: 90px;
  }

  .hidden{
  display: block;
  }

  .locate{
    display:none;
  }

  .drop ul{
    gap:10%;
  }

   .text{
    display: none;
   }

   .overview img{
    width:100%;
    height: 480px;
   }

   nav ul{
    display: none;
   }

   .hidden{
    display: block;
    width:100%;
    padding-left: 1%;
    padding-right: 1%;
   }

   .hidden .text{
    width: 100%;
    margin-bottom: 30px;
    display: block;
   }

  .name{
    display: none;
  }

  .contact-left-title h2{
    margin-top: 60px;
  }

  
  .A{
    grid-template-columns: 1fr 1fr;
  }

  .about .content{
    display: grid;
  }

  .about .content img{
    width:100%;
    height: 80%;
  }

  .about .content p{
    margin-top: -20px;
    font-family: Nunito Sans;
    width: 100%;
  }

  #content-text-name{
    margin-top: -300px;
  }

  .person{
    width:100%;
  }
  
  .icon{
    width:100%;
  }

  
}

.divide{
  display: flex;
  margin-bottom: 30px;
}

#approach{
  font-size: 20px;
  line-height: 1.75;
}

.divide img{
  width: 50%;
  height:30%;
}

.vision-mission img{
  width: 50%;
  height:30%;
}

.divide b{
  font-size: 40px;
  margin-top: 120px;
  margin-left: 4%;
  font-family: Outfit;
}



@media screen and (max-width:800px) {
  .drop ul{
    display: grid;
    width: 100%;
    padding-bottom: 30px;
  }
  



  .drop ul li{
    width: 100%;
  }
  
  .text p{
    font-size: 14px;
    width: 98%;
  }

  .drop ul li a{
    height: 30px;
   font-size: 20px;
   width: 100%;
  }

  .drop ul li a:hover{
    font-size: 20px;
    padding: 10px;
    width: 100%;
    background-color: white;
    color:black;
    border-radius: 8px;
   }

   .overview img{
    height: 30%;
   }

   nav{
    /* display: flex; */
    /* justify-content: space-between; */
    gap:0;
  }

  

   .bar{
   /* align-self: baseline; */
   /* margin-right: 30%; */
   /* display: none; */
   margin-left: 60%;
  }

  .divide{
    display: grid;
  }

  .divide b{
    margin-top: 10px;
  }

  .divide img{
    width: 98%;
    height: 70%;
  }

  .vision-mission img{
    width: 98%;
    height:70%;
  }

   #vision-mission{
    display: grid;
    width: 100%;
  }
  
  #vision-mission img{
     width: 99%;
   }

   #vision-mission .v-text{
    display: grid;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
   }

   .v-text p{
    margin-top: 20px;
    margin-bottom: 20px;
   }

   
  .log img{
    width: 70px;
    height: 70px;
    margin-top: -18px;
  }
  .log img{
    margin-top: 1px;
    margin-left: -10px;
  }
}

@media screen and (min-width:801px) {
  .bar{
    margin-top: 30px;
  }
}

@media screen and (max-width:700px) {
  footer .A{
    display: grid;
    grid-template-columns: 1fr;
  }

  .log img{
    width: 80px;
    height: 80px;
    margin-top: -15px;
  }
  .log img{
    margin-top: 1px;
    margin-left: -10px;
  }
  
  .log h1{
    font-size: 15px;
  }

  .v-text p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    width:100%;
    margin-right: 10px;
   }

  .divide img{
    height: 85%;
  }

  .vision-mission img{
    height:85%;
  }

  .bar{
    margin-top: 30px;
  }

  .values1{
    display: grid;
    grid-template-columns: 1fr;
  }
  .values2{
    display: grid;
    grid-template-columns: 1fr;
  }
}



.locate a{
  color: #05D486;
}

@media screen and (max-width:450px) {
  footer .A{
    display: grid;
    grid-template-columns: 1fr;
  }

  .A section{
    font-size: 12px;
  }

  .overview img{
    height: 45%;
   }

   .hidden{
    display: block;
   }


  .v-text p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    width:100%;
    margin-right: 10px;
   }

  .log img{
    margin-top: 1px;
    margin-left: -10px;
  }

  .log h1{
    font-size: 12px;
  }

  .log p{
    font-size: 6px;
  }

  .bar{
    margin-top: 10px;
  }

  .values1{
    display: grid;
    grid-template-columns: 1fr;
  }
  .values2{
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width:350px) {
  nav img{
    width:40px;
    height: 40px;
    margin-top: 10px;
    padding-top: 10px;
  }

  nav{
    padding-top: 2px;
  }
  .bar i{
    margin-bottom: 10px;
    font-size: 25px;
  }

  .A section{
    font-size: 10px;
  }
}




@media screen and (min-width:1001px) {
  .hidden{
    display: none;
    
  }
}

.hr{
  /* height: 0px; */
}

.about h1{
  color: #05D486;
  padding-bottom: 20px;
  font-size: 55px;
  font-family: Outfit;
}

.about{
  margin-top: 8%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 8%;
}



.content p{
  font-family: Nunito Sans;
  line-height: 1.8;
  font-size: 20px;
  width: 45%;
}

.content{
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  gap:2%;
  /* justify-content: space-between; */
}

.success{
  width: 100%;
  background: #9fd2a1; 
  padding: 5px 10px;
  text-align: center;
  color: #326b07;
  border-radius: 3px;
  font-synthesis: 14px;
  margin-top:10px ;
}

nav a{
  text-decoration: none;
  cursor: pointer;
}


.thanks h1{
  color: #05D486;
  font-family: Outfit;
  text-align: center;
}

.thanks{
  display: grid;
  padding-left: 2%;
  padding-right: 2%;
}

.thanks button{
  background-color: #9fd2a1;
  color: white;
  padding: 6px;
  border-radius: 7px;
}

@media screen and (max-width:1100px) {
  .hero{
    background-size: 120%;
  } 
  
  #vision-mission{
    display: grid;
  }

  #vision-mission img{
    height: 80vh;
    width: 100%;
  }

  .v-text{
    margin-top: 20px;
    width: 100%;
  }

  nav ul{
    margin-left: -120px;
  }
  
  .locate{
    margin-right: 50px;
    
  }

  nav ul li a{
    font-size: 16px;
  }

  .menu button{
    width: 60%;
  }
}

@media screen and (max-width:1000px) {
  .hero{
    background-size: 120%;
  } 
  
  #vision-mission{
    display: grid;
  }

  #vision-mission img{
    height: 70vh;
    width: 100%;
  }

  .v-text{
    margin-top: 20px;
    width: 100%;
  }

  .menu button{
    width: 60%;
  }
}

#overlay{
  width: 100%;
  height: 100%;
  /* background-color: rgb(85, 85, 85); */
  position: fixed;
  z-index: 98;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items:center;
  top: 0;
  left:0;
  display:none;
}

#popup{
  background: black;
  width: 40%;
  z-index: 999;
  position: fixed;
  height: 100%;
  top:0;
  margin-left:60%;
  padding: 20px;
  padding-left: 35px;
  display:none;
  padding-right: 35px;
  animation: slideInRight 1.25s ease-in-out; 
}


.exit{
 background-color: white;
 border:none;
 color: black;
 width: 40px;
 height:40px;
 text-align: center;
}

.exit i{
  margin-top: 10px;
}

#popup img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  margin-bottom: 400px;
  margin-left: 320px;
}

#popup p {
  margin-top: 30px;
  color:rgb(255, 255, 255);
  font-family: poppins,sans-serif;
  height: 35px;
  margin: 0px;
  padding: 0;
}

#popup h3{
  margin-top: 10px;
  color: white;
  font-family: Outfit,sans-serif;
  padding-top: 0;;
}

#popup ul {
  display: grid;
  margin-top: 20px;
  padding: 0;
  margin-top: 100px;
}

#popup ul li{
  list-style-type: none;
  width: 97%;
}

#popup ul li a{
  color: white;
  font-size: 120%;
  text-decoration: none;
  font-family: poppins;
}

#popup ul li a i{
  margin-right: 10px;
}


#popup-icons a{
  text-decoration: none;
  justify-content: space-around;
  font-size: 30px;
  color:#05D486;
  margin-right: 20px;
}

#popup-icons{
  display: flex;
  height:60px;
  padding: 10px;
  gap: 70%;
  width:60px;
  margin-top: 100px;
}

@media screen and (max-width:600px) {
  #popup{
    width: 60%;
    margin-left: 40%;
  }

  #popup-icons{
    width: 40px;
  }

  .p1{
    display: none;
  }

  .menu button{
    width: 40%;
  }

  .hero{
    background-size: 200%;
  }

  #vision-mission img{
    height: 70%;
  }


}

@media screen and (max-width:700px) {
  #popup-icons{
    width: 45px;
  }
}


@media screen and (max-width:500px) {
 
  #vision-mission img{
    height: 40vh;
  }

}


@media screen and (max-width:400px) {
  .menu .p2{
    font-size: 16px;
    width: 100%;
  }

  #vision-mission img{
    height: 50vh;
  }

  #popup-icons{
    width: 30px;
  }
}

@media screen and (max-width:350px) {
  #popup{
    width: 75%;
    margin-left: 25%;
  }

  #popup-icons{
    width: 20px;
  }

  .hero{
    background-size: 240%;
  }

  .menu button{
    width: 70%;
  }
}


@media screen and (max-width:300px) {
  .hero{
    background-size: 260%;
  }

  .menu button{
    width: 80%;
  }

  #popup{
    width: 80%;
    margin-left: 25%;
  }

  #popup-icons{
    width: 15px;
  }
}
